[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "refs/heads/*"]
	exclusiveGroupPermissions = label-Code-Review
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group approvers-wifi
	label-Code-Review = -1..+1 group Registered Users
	labelAs-Verified = -1..+1 group approvers-wifi
	submit = group approvers-wifi
[access "refs/heads/master"]
	exclusiveGroupPermissions = label-Code-Review
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group approvers-wifi
	label-Code-Review = -1..-1 group Registered Users
